html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, div {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  padding: 0 60px;
}

.top-wrapper {
  background-color: yellow;
  height: 100%;
}

.top-left {
  width: 50%;
  float: left;
}

.top-message {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 23px;
}
/** 確認用
.examples {
  background-color: white;
} **/

.example {
  width: 25%;
  height: 170px;
  float: left;
  background-color: #FFFC7F;
  margin: 0 24px;
  text-align: center;
  font-size: 12px;
}

.example img {
  height: 100px;
  padding: 20px 0;
}

.example p {
}

.present-message {
 padding: 20px 0;
 font-size: 19px;
}

.flyer {
  font-size: 17px;
  text-align: center;
  border: solid 3px black;
  border-radius: 4px;
  padding: 10px 0;
}

.notation {
  font-size: 8px;
  text-align: right;
}

.top-right {
  width: 50%;
  float: right;
  padding-left: 50px;
  box-sizing: border-box;
  text-align: center;
}

.logo p {
  color: white;
  font-size: 35px;
  text-align: right;
  padding-top: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: bold;
}

.top-right img {
  width: 90%;
}

.clear {
  clear: both;
}

.main-image {
  position: relative;
}

.heart {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 90px;
  left: 50%;
  margin-top: -45px;
  margin-left: -50px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #f88dc8;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
}


footer {
  background-color: gray;
  height: 20%;
}

.step {
  float: left;
}
